
build/.alloynewcli
build/alloy/build.json
build/alloy/global_style_cache.json
build/android/.classpath
build/android/.project
build/android/build-manifest.json
build/android/default.properties
build/android/intermediates/bundles/R.txt
build/android/java-sources.txt
build/build_android.log
build/build_iphone.log
build/iphone/alloy_generated
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-60@2x.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-60@3x.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-76.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-76@2x.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-83.5@2x.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-Marketing.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-Small-40.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-Small-40@2x.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-Small-40@3x.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-Small.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-Small@2x.png
build/iphone/Assets.xcassets/AppIcon.appiconset/appicon-Small@3x.png
build/iphone/Assets.xcassets/AppIcon.appiconset/Contents.json
build/iphone/Assets.xcassets/Contents.json
build/iphone/Assets.xcassets/LaunchImage.launchimage/Contents.json
build/iphone/Assets.xcassets/LaunchImage.launchimage/Default-568h@2x.png
build/iphone/Assets.xcassets/LaunchImage.launchimage/Default-667h@2x.png
build/iphone/Assets.xcassets/LaunchImage.launchimage/Default-Landscape-2436h@3x.png
build/iphone/Assets.xcassets/LaunchImage.launchimage/Default-Landscape-736h@3x.png
build/iphone/Assets.xcassets/LaunchImage.launchimage/Default-Landscape.png
build/iphone/Assets.xcassets/LaunchImage.launchimage/Default-Landscape@2x.png
build/iphone/Assets.xcassets/LaunchImage.launchimage/Default-Portrait-2436h@3x.png
.DS_Store
